<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Não Encontrada</title>
    <link rel="stylesheet" th:href="@{/dist/output.css}">
</head>
<body class="bg-black flex items-center justify-center h-screen">

    <div class="text-center">
        <h1 class="text-6xl font-bold text-violet-500">404</h1>
        <h2 class="mt-4 text-3xl font-semibold text-white">Página Não Encontrada</h2>
        <p class="mt-2 text-lg text-white">
            Desculpe, a página que você está procurando não existe.
        </p>
        <a href="/" class="mt-6 inline-block px-6 py-3 bg-white duration-100 hover:scale-105 text-violet-600 hover:text-white font-bold rounded-full shadow hover:bg-violet-600 transition">
            Voltar à Página Inicial
        </a>
    </div>

</body>
</html>
