<section
  class="container px-4 mx-auto sm:px-6 lg:px-8"
  id="services"
  th:fragment="tools"
  aria-labelledby="services-heading"
>
  <header class="pb-12 text-center">
    <h2 id="services-heading" class="text-3xl font-extrabold sm:text-4xl md:text-5xl">
      Potencialize Suas Ferramentas com
      <span
        class="text-transparent bg-gradient-to-r from-violet-500 to-violet-600 bg-clip-text"
      >
        Soluções Online
      </span> para Conversões e Processamentos.
    </h2>
    <p class="mt-4 text-lg font-bold text-violet-500">
      Conheça nossas principais ferramentas disponíveis.
    </p>
  </header>

  <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3" role="list">
    <article
      class="flex flex-col items-center p-6 text-center transition-transform duration-300 ease-in-out bg-white rounded-lg shadow-md hover:shadow-lg hover:scale-105"
      role="listitem"
      aria-labelledby="image-resize-heading"
    >
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-gradient-to-r from-violet-500 to-violet-600"
        aria-hidden="true">
        <img src="/assets/icons/images.svg" alt="icone ilustrativo de imagem" class="text-white w-22 h-22">
    </div>
      <h4 id="image-resize-heading" class="mb-2 text-xl font-semibold text-black">Redimensionamento de Imagens</h4>
      <p class="font-semibold text-black text-md">
        Ajuste o tamanho de suas imagens de forma rápida e fácil com nossa ferramenta online, ideal para otimização de websites e redes sociais.
      </p>
    </article>

    <article
      class="flex flex-col items-center p-6 text-center transition-transform duration-300 ease-in-out bg-white rounded-lg shadow-md hover:shadow-lg hover:scale-105"
      role="listitem"
      aria-labelledby="pdf-generation-heading"
    >
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-gradient-to-r from-violet-500 to-violet-600"
        aria-hidden="true"
      >
        <img src="/assets/icons/file-text.svg" alt="icone ilustrativo de imagem" class="text-white w-22 h-22">
      </div>
      <h4 id="pdf-generation-heading" class="mb-2 text-xl font-semibold text-black">Geração de PDFs</h4>
      <p class="font-semibold text-black text-md">
        Crie documentos em PDF a partir de diversos formatos de arquivo com apenas alguns cliques, mantendo a qualidade e segurança dos seus dados.
      </p>
    </article>

    <article
      class="flex flex-col items-center p-6 text-center transition-transform duration-300 ease-in-out bg-white rounded-lg shadow-md hover:shadow-lg hover:scale-105"
      role="listitem"
      aria-labelledby="pdf-merge-heading"
    >
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-gradient-to-r from-violet-500 to-violet-600"
        aria-hidden="true"
      >
        <img src="/assets/icons/found-from-pdf-files.svg" alt="icone ilustriativo de união de pdfs" class="text-white w-22 h-22">
      </div>
      <h4 id="pdf-merge-heading" class="mb-2 text-xl font-semibold text-black">União de PDFs</h4>
      <p class="font-semibold text-black text-md">
        Combine múltiplos arquivos PDF em um único documento com nossa ferramenta rápida e intuitiva, ideal para simplificar suas tarefas administrativas.
      </p>
    </article>

    <article
      class="flex flex-col items-center p-6 text-center transition-transform duration-300 ease-in-out bg-white rounded-lg shadow-md hover:shadow-lg hover:scale-105"
      role="listitem"
      aria-labelledby="image-conversion-heading"
    >
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-gradient-to-r from-violet-500 to-violet-600"
        aria-hidden="true"
      ></div>
      <h4 id="image-conversion-heading" class="mb-2 text-xl font-semibold text-black">Conversão de Imagens</h4>
      <p class="font-semibold text-black text-md">
        Converta imagens entre diversos formatos (JPEG, PNG, SVG, etc.) de maneira simples e eficiente com nossa ferramenta online de conversão.
      </p>
    </article>

    <article
      class="flex flex-col items-center p-6 text-center transition-transform duration-300 ease-in-out bg-white rounded-lg shadow-md hover:shadow-lg hover:scale-105"
      role="listitem"
      aria-labelledby="pdf-compression-heading"
    >
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-gradient-to-r from-violet-500 to-violet-600"
        aria-hidden="true"
      >
        <img src="/assets/icons/compression.svg" alt="icone compressão de pdf" class="text-white h-24 w-24">
      </div>
      <h4 id="pdf-compression-heading" class="mb-2 text-xl font-semibold text-black">Compressão de PDFs</h4>
      <p class="font-semibold text-black text-md">
        Reduza o tamanho de seus arquivos PDF sem comprometer a qualidade, facilitando o compartilhamento e armazenamento de documentos.
      </p>
    </article>

    <article
      class="flex flex-col items-center p-6 text-center transition-transform duration-300 ease-in-out bg-white rounded-lg shadow-md hover:shadow-lg hover:scale-105"
      role="listitem"
      aria-labelledby="file-conversion-heading"
    >
      <div
        class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-gradient-to-r from-violet-500 to-violet-600"
        aria-hidden="true"
      ></div>
      <h4 id="file-conversion-heading" class="mb-2 text-xl font-semibold text-black">Conversão de Arquivos</h4>
      <p class="font-semibold text-black text-md">
        Converta arquivos de texto, imagens ou documentos para diversos formatos suportados, garantindo compatibilidade e fácil uso.
      </p>
    </article>
  </div>
</section>
