<div th:fragment="header" class="bg-violet-700">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <span class="font-bold text-lg text-white duration-100 hover:scale-105">Ajuda AI</span>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-white" id="mobile-menu-button">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="#FFF" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="/" class="text-lg font-semibold leading-6 text-white duration-100 hover:scale-105">Inicio</a>
      <a href="#services" class="text-lg font-semibold leading-6 text-white duration-100 hover:scale-105">Todas Ferramentas</a>
      <a href="/redmensioning" class="text-lg font-semibold leading-6 text-white duration-100 hover:scale-105">Redimensionar imagens</a>
      <a href="#about" class="text-lg font-semibold leading-6 text-white duration-100 hover:scale-105">Sobre nós</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/login" class="font-semibold leading-6 text-white text-lg scale-105 duration-100 hover:scale-105">Entrar<span aria-hidden="true"></span></a>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div class="hidden" role="dialog" aria-modal="true" id="mobile-menu">
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-violet-800 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="font-bold text-lg text-white duration-100 hover:scale-105">Ajuda AI</span>
        </a>
        <button type="button" id="close-menu-button" class="-m-2.5 rounded-md p-2.5 text-white">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="#FFF" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a href="/" class="-mx-3 block rounded-lg px-3 py-2 font-semibold leading-7 text-white hover:bg-purple-600 text-lg" onclick="closeMenu()">Inicio</a>
            <a href="#services" class="-mx-3 block rounded-lg px-3 py-2 font-semibold leading-7 text-white hover:bg-purple-600 text-lg" onclick="closeMenu()">Todas Ferramentas</a>
            <a href="#about" class="-mx-3 block rounded-lg px-3 py-2 font-semibold leading-7 text-white hover:bg-purple-600 text-lg" onclick="closeMenu()">Sobre</a>
          </div>
          <div class="py-6">
            <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 font-semibold leading-7 text-white hover:bg-purple-600 text-lg" onclick="closeMenu()">Entrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>