<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>Ajuda AI | Entrar</title>
  <link rel="stylesheet" th:href="@{/dist/output.css}">
  </link>
</head>

<body class=" flex flex-col min-h-screen">
  <div th:replace="fragments/header/header :: header" class="h-auto"></div>

  <div class="flex justify-center w-full h-full my-auto xl:gap-14 lg:justify-normal md:gap-5 draggable">
    <div class="flex items-center justify-center w-full lg:p-12">
      <div class="flex items-center xl:p-10">
        <form class="flex flex-col w-full h-full pb-6 text-center rounded-3xl">
          <h3 class="mb-3 text-4xl font-extrabold text-gray-900">Entrar</h3>
          <p class="mb-4 text-gray-700">Insira seu email e senha</p>
          <a class="flex items-center justify-center w-full py-4 mb-6 text-sm font-medium transition duration-300 rounded-2xl text-gray-900 bg-gray-300 hover:bg-gray-400 focus:ring-4 focus:ring-gray-300">
            <img class="h-5 mr-2" src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/logos/logo-google.png" alt="Logo Google">
            Entrar com o Google
          </a>
          <div class="flex items-center mb-3">
            <hr class="h-0 border-b border-solid border-gray-500 grow">
            <p class="mx-4 text-gray-600">ou</p>
            <hr class="h-0 border-b border-solid border-gray-500 grow">
          </div>
          <label for="email" class="mb-2 text-sm text-start text-gray-900">Email*</label>
          <input id="email" type="email" placeholder="usuario@example.com"
            class="flex items-center w-full px-5 py-4 mr-2 text-sm font-medium outline-none focus:bg-gray-400 mb-7 placeholder:text-gray-700 bg-gray-200 text-gray-900 rounded-2xl" />
          <label for="password" class="mb-2 text-sm text-start text-gray-900">Senha*</label>
          <input id="password" type="password" placeholder="Insira uma senha"
            class="flex items-center w-full px-5 py-4 mb-5 mr-2 text-sm font-medium outline-none focus:bg-gray-400 placeholder:text-gray-700 bg-gray-200 text-gray-900 rounded-2xl" />
          <div class="flex flex-row justify-between mb-8">
            <label class="relative inline-flex items-center mr-3 cursor-pointer select-none">
              <input type="checkbox" checked value="" class="sr-only peer">
              <div class="w-5 h-5 bg-white border-2 rounded-sm border-gray-500 peer peer-checked:border-0 peer-checked:bg-purple-500">
                <img class="" src="https://raw.githubusercontent.com/Loopple/loopple-public-assets/main/motion-tailwind/img/icons/check.png" alt="check">
              </div>
              <span class="ml-3 text-sm font-normal text-gray-900">Manter-me conectado</span>
            </label>
            <a href="javascript:void(0)" class="mr-4 text-sm font-medium text-purple-500">Esqueceu a senha?</a>
          </div>
          <button class="w-full px-6 py-5 mb-5 text-sm font-bold leading-none text-white transition duration-300 md:w-96 rounded-2xl hover:bg-purple-600 focus:ring-4 focus:ring-purple-100 bg-purple-500">Entrar</button>
          <p class="text-sm leading-relaxed text-gray-900">Não tem uma conta? <a href="javascript:void(0)" class="font-bold text-gray-700">Crie uma conta</a></p>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="fragments/footer/footer :: footer" class="h-auto"></div>
</body>

</html>
