<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajuda AI | Ferramentas Online</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-gray-100 flex flex-col min-h-screen">
    <div th:replace="fragments/header/header :: header"></div>
    
    <section class="relative" id="home">
      <div
        class="flex items-center justify-center h-screen px-6 mx-auto md:flex-row"
      >
        <div class="flex flex-col items-center text-center">
          <h1 class="text-3xl font-extrabold md:text-5xl lg:text-6xl">
            Ferramentas
            <span
              class="font-extrabold text-transparent bg-gradient-to-r from-violet-500 to-violet-600 bg-clip-text"
            >
              Online
            </span>
          </h1>
          <h2
            class="mt-4 text-xl font-extrabold tracking-tight md:text-4xl lg:text-5xl"
          >
            <span
              class="font-extrabold text-transparent bg-gradient-to-r from-violet-500 to-violet-600 bg-clip-text"
            >
              Especialistas
            </span>
            em redimensionamento de imagens e outras
            <span
              class="font-extrabold text-transparent bg-gradient-to-r from-violet-500 to-violet-600 bg-clip-text"
            >
              soluções digitais.
            </span>
          </h2>
          <p
            class="max-w-3xl mt-6 text-lg md:text-xl lg:text-2xl text-foreground"
          >
            Oferecemos uma gama completa de ferramentas online, incluindo
            redimensionamento de imagens, compressão e muito mais.
          </p>
          <div
            class="flex flex-col items-center mt-8 space-y-4 md:flex-row md:space-y-0 md:space-x-4"
          >
            <a
              href="/tools"
              target="_blank"
              rel="noopener noreferrer"
              class="block"
            >
              <button
                class="px-8 py-4 text-lg font-semibold text-white transition-transform duration-300 transform rounded-lg shadow-lg bg-gradient-to-r from-violet-500 to-violet-600 hover:scale-105"
              >
                Conheça nossas ferramentas
              </button>
            </a>
          </div>
        </div>
      </div>
    </section>

    <div th:replace="fragments/footer/footer :: footer" class="h-auto"></div>

    <script type="module" th:src="@{/js/main.js}"></script>
  </body>
</html>
