<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ferramenta Online | Redimensionamento de Imagens</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex flex-col min-h-screen">
  <header th:replace="fragments/header/header :: header"></header>

  <div class="container mx-auto mt-10 flex-grow px-4">
    <h1 class="text-4xl font-bold text-center text-black">Redimensionar Imagens</h1>
    <p class="text-lg font-medium text-center text-black">
      Redimensione imagens nos formatos JPG, PNG, e WEBP definindo altura e largura em pixels <br />
      Redimensione várias imagens de uma vez só.
    </p>

    <div class="flex justify-center mt-4">
      <div class="w-full max-w-lg">
        <!-- Progress Bar -->
        <div class="relative pt-1 mb-6">
          <div class="flex mb-2 items-center justify-between">
            <div>
              <span
                class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-violet-600 bg-violet-200">
                Progresso
              </span>
            </div>
            <div class="text-right">
              <span id="progressText" class="text-xs font-semibold inline-block text-violet-600">0%</span>
            </div>
          </div>
          <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-violet-200">
            <div id="progressBar" style="width: 0%"
              class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-violet-500">
            </div>
          </div>
        </div>

        <form id="multiStepForm" method="POST" enctype="multipart/form-data" action="/upload"
          class="bg-white p-8 rounded-lg shadow-lg border border-gray-200" target="downloadFrame"
          onsubmit="startLoading()">
          <!-- Step 1 -->
          <div class="step" id="step-1">
            <div class="mb-6">
              <label for="title" class="block text-gray-700 font-semibold mb-2">Título do Arquivo:</label>
              <input type="text"
                class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500"
                id="title" name="title" placeholder="Digite o título" required />
            </div>
            <button id="enter" type="button" onclick="nextStep(2)"
              class="w-full bg-violet-500 hover:bg-violet-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out">
              Próximo
            </button>
          </div>

          <!-- Step 2 -->
          <div class="step hidden" id="step-2">
            <div class="mb-6 grid grid-cols-1 md:grid-cols-2 gap-4">
              <div>
                <label for="width" class="block text-gray-700 font-semibold mb-2">Largura (px):</label>
                <input type="number"
                  class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500"
                  id="width" name="width" placeholder="Ex: 1200" required />
              </div>

              <div>
                <label for="height" class="block text-gray-700 font-semibold mb-2">Altura (px):</label>
                <input type="number"
                  class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500"
                  id="height" name="height" placeholder="Ex: 1300" required />
              </div>
            </div>
            <button type="button" onclick="previousStep(1)"
              class="w-full bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out mb-4">
              Voltar
            </button>
            <button type="button" id="enter" onclick="nextStep(3)"
              class="w-full bg-violet-500 hover:bg-violet-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out">
              Próximo
            </button>
          </div>

          <!-- Step 3 -->
          <div class="step hidden" id="step-3">
            <div class="mb-6">
              <label for="format" class="block text-gray-700 font-semibold mb-2">Formato de Conversão:</label>
              <select
                class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500"
                id="format" name="format" required>
                <option value="jpg">JPG</option>
                <option value="png">PNG</option>
                <option value="webp">WEBP</option>
              </select>
            </div>
            <div class="mb-6">
              <label for="compression" class="block text-gray-700 font-semibold mb-2">Nível de Compressão:</label>
              <select
                class="w-full px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-violet-500"
                id="compression" name="compression" required>
                <option value="0.9">Alta Qualidade (menos compressão)</option>
                <option value="0.7">Qualidade Média</option>
                <option value="0.5">Baixa Qualidade (mais compressão)</option>
              </select>
            </div>
            <button type="button" onclick="previousStep(2)"
              class="w-full bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out mb-4">
              Voltar
            </button>
            <button type="button" onclick="nextStep(4)" id="enter"
              class="w-full bg-violet-500 hover:bg-violet-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out">
              Próximo
            </button>
          </div>

          <!-- Step 4 -->
          <div class="step hidden" id="step-4">
            <div class="mb-6">
              <label for="formFile" class="block text-gray-700 font-semibold mb-2">Selecionar Imagens:</label>
              <div id="dropZone"
                class="w-full px-4 py-6 border-dashed border-2 border-gray-300 rounded-lg bg-gray-50 flex flex-col items-center justify-center">
                <input class="hidden" type="file" id="formFile" name="files" multiple accept="image/*" required
                  onchange="previewImages()" />
                <label for="formFile" class="cursor-pointer bg-violet-500 text-white px-4 py-2 rounded-lg">
                  Clique ou arraste as imagens aqui
                </label>
                <p class="mt-2 text-gray-500">Arraste suas imagens para o upload</p>
              </div>
            </div>
            <button type="button" onclick="previousStep(3)"
              class="w-full bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out mb-4">
              Voltar
            </button>
            <button id="enter" type="submit"
              class="w-full bg-violet-500 hover:bg-violet-600 text-white font-bold py-2 px-4 rounded-lg transition duration-200 ease-in-out">
              Enviar
            </button>
            <div class="flex items-center mt-4">
              <input type="checkbox" id="keepData" class="mr-2 leading-tight" />
              <label for="keepData" class="text-gray-700 font-medium">
                Manter os dados após conclusão
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Preview Images Section -->
    <div id="previewContainer" class="mt-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"></div>

    <iframe id="downloadFrame" name="downloadFrame" class="hidden"></iframe>
  </div>

  <div th:if="${message}" class="mt-3">
    <div class="bg-violet-100 border border-violet-500 text-violet-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Sucesso!</strong>
      <span class="block sm:inline" th:text="${message}"></span>
    </div>
  </div>
  </div>
  </div>

  <div class="w-full preview hidden">
    <h1 class="font-bold text-2xl">Imagens</h1>
    <div id="preview" class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4"></div>
  </div>

  <div id="optionsModal" class="modal hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md">
      <h2 class="text-xl font-bold mb-4">Opções</h2>
      <p>O que você gostaria de fazer agora?</p>
      <div class="mt-4 flex justify-between">
        <button id="clearDataBtn" class="bg-red-500 text-white px-4 py-2 rounded-lg">Redmensionar novas imagens</button>
        <button id="finalizeBtn" class="bg-green-500 text-white px-4 py-2 rounded-lg">Finalizar</button>
      </div>
    </div>
  </div>
  </div>

  <footer th:replace="fragments/footer/footer :: footer"></footer>
  <script type="module" th:src="@{/js/main.js}"></script>
</body>

</html>